<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>

    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/style.css">

    <meta name="robots" content="noindex, follow">
    <script nonce="eb0d00ce-dda4-49c6-849a-0bde87de0b89">
        (function (w, d) { !function (j, k, l, m) { j[l] = j[l] || {}; j[l].executed = []; j.zaraz = { deferred: [], listeners: [] }; j.zaraz.q = []; j.zaraz._f = function (n) { return async function () { var o = Array.prototype.slice.call(arguments); j.zaraz.q.push({ m: n, a: o }) } }; for (const p of ["track", "set", "debug"]) j.zaraz[p] = j.zaraz._f(p); j.zaraz.init = () => { var q = k.getElementsByTagName(m)[0], r = k.createElement(m), s = k.getElementsByTagName("title")[0]; s && (j[l].t = k.getElementsByTagName("title")[0].text); j[l].x = Math.random(); j[l].w = j.screen.width; j[l].h = j.screen.height; j[l].j = j.innerHeight; j[l].e = j.innerWidth; j[l].l = j.location.href; j[l].r = k.referrer; j[l].k = j.screen.colorDepth; j[l].n = k.characterSet; j[l].o = (new Date).getTimezoneOffset(); if (j.dataLayer) for (const w of Object.entries(Object.entries(dataLayer).reduce(((x, y) => ({ ...x[1], ...y[1] })), {}))) zaraz.set(w[0], w[1], { scope: "page" }); j[l].q = []; for (; j.zaraz.q.length;) { const z = j.zaraz.q.shift(); j[l].q.push(z) } r.defer = !0; for (const A of [localStorage, sessionStorage]) Object.keys(A || {}).filter((C => C.startsWith("_zaraz_"))).forEach((B => { try { j[l]["z_" + B.slice(7)] = JSON.parse(A.getItem(B)) } catch { j[l]["z_" + B.slice(7)] = A.getItem(B) } })); r.referrerPolicy = "origin"; r.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(j[l]))); q.parentNode.insertBefore(r, q) };["complete", "interactive"].includes(k.readyState) ? zaraz.init() : j.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);
    </script>
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
</head>

<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email" />
                        </div>
                        <div class="form-group">
                            <select class="form-input" name="bloodGroup" id="bloodGroup">
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-input" name="panchayath" id="panchayath">
                                <option value="Panchayath 1">Panchayath 1</option>
                                <option value="Panchayath 2">Panchayath 2</option>
                                <option value="Panchayath 3">Panchayath 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-input" name="unit" id="unit">
                                <option value="Unit 1">Unit 1</option>
                                <option value="Unit 2">Unit 2</option>
                                <option value="Unit 3">Unit 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-input" name="designation" id="designation">
                                <option value="Manager">Manager</option>
                                <option value="Supervisor">Supervisor</option>
                                <option value="Employee">Employee</option>
                            </select>
                        </div>
                        <!-- OTP Verification -->
                        <div class="otp-container" id="otpContainer" style="display:none;">
                            <h4>OTP Verification</h4>
                            <p>An OTP will be sent to your phone for verification.</p>
                            <div class="form-group">
                                <label for="otp">Enter OTP</label>
                                <input type="text" class="form-input" id="otp" placeholder="Enter OTP">
                            </div>
                            <button type="button" class="form-submit" onclick="verify()">Verify OTP</button>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-input" name="phone" id="number" placeholder="Your Phone" />
                            <div id="recaptcha-container"></div>
                            <button type="button" class="form-submit" id="send" onclick="phoneAuth()">SEND</button>
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="#" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-23581568-13');
    </script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
        integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
        data-cf-beacon='{"rayId":"82c3955518aef4d2","version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
        crossorigin="anonymous"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyD2ghfC4Z7U-qcNfDKvIMqcjZB797cJQNA",
            authDomain: "tesing-cms.firebaseapp.com",
            projectId: "tesing-cms",
            storageBucket: "tesing-cms.appspot.com",
            messagingSenderId: "521068715805",
            appId: "1:521068715805:web:4c31d070c3f37d91fb0bf4",
            measurementId: "G-D0QLTD3C8R"
        };
        firebase.initializeApp(firebaseConfig);

        // render recaptcha verifier
        render();
        function render() {
            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
            recaptchaVerifier.render();
        }

        // function for send OTP
        function phoneAuth() {
            var number = document.getElementById('number').value;
            firebase.auth().signInWithPhoneNumber("+91" + number, window.recaptchaVerifier).then(function (confirmationResult) {
                window.confirmationResult = confirmationResult;
                coderesult = confirmationResult;
                console.log('OTP Sent');
                document.getElementById('otpContainer').style.display = 'block';
                document.getElementById('number').disabled = true;
                document.getElementById('send').disabled = true;
                document.getElementById('btnSignUp').disabled = false;
            }).catch(function (error) {
                alert(error.message);
            });
        }

        // function for OTP verification
        function verify() {
            const code = document.getElementById('otp').value;
            coderesult.confirm(code).then(() => {
                alert('Success');
                submitFormData();
            }).catch((error) => {
                alert('Error: ' + error.message);
                console.log(error.message);
            });
        }
        function submitFormData() {

            const submitUrl = '/register';


            const formData = {
                name: document.getElementById('name') ? document.getElementById('name').value : null,
                email: document.getElementById('email') ? document.getElementById('email').value : null,
                bloodGroup: document.getElementById('bloodGroup') ? document.getElementById('bloodGroup').value : null,
                panchayath: document.getElementById('panchayath') ? document.getElementById('panchayath').value : null,
                unit: document.getElementById('unit') ? document.getElementById('unit').value : null,
                designation: document.getElementById('designation') ? document.getElementById('designation').value : null,
                phone: document.getElementById('number') ? "+91" + document.getElementById('number').value : null
            };



            fetch(submitUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        window.location.href = '/dashboard'
                    }
                })
                .catch((error) => {
                    alert('Error submitting form: ' + error.message);
                });
        }
    </script>
</body>

</html>